@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200;300;400;500;600;700;800;900&display=swap");

body {
  background-color: #131722 !important;
  color: #fff !important;
  font-family: "Montserrat Alternates", sans-serif !important;
}

.vote {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #2cd8b9;
  padding: 10px;
}
.line {
  background-color: #ccc;
  height: 2px;
  margin: 20px 0;
}
